<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Document</title>
    <!-- styling for shocase Data  -->
    <style>
     .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 00px;
 
}

.gallery-item {
  width: 250px;
  height: 300px;
  /* border: 1px solid silver; */
  margin: 12px;

  overflow: hidden;
  border-radius: 10px;
}

.gallery-item img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  transition: transform 0.3s ease;
  border-radius: 10px;
}

.gallery-item:hover img {
  transform: scale(0.9);
}

    </style>

<!-- <link rel="stylesheet" href="showCase.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>
<body>
    <%if (locals.userInfo) { %>
  <h6 class="w-25 fw-bold text-dark border rounded-pill text-center shadow p-3 mb-2 mt-3 bg-body-tertiary">Welcome <%=locals.userInfo.name%> in airbnb</h6>
         <% } else { %>
            <h3 class="w-25 bg-success fw-bold border rounded-pill text-center shadow p-3 mb-2 mt-3 bg-body-tertiary">Dear User Please login </h3>
          <%} %>

          

         <!-- showing hotels showcase data, and search result also. -->
         <div class="gallery">
   
          <% for (let i = 0; i < findResult.length; i++) { %>
            <a class="text-decoration-none" href="/bookingPage?id=<%=findResult[i]._id%>">
            <div class="gallery-item">
              <img src="<%=findResult[i].images.picture_url%>" />
              <p class="text-dark fw-bold"><%=findResult[i].address.street%></p>
              <p class="text-dark fw-bold">$<%=findResult[i].price%> night</p>
             
            </div>
            </a>
          <% } %>
        </div>
         
        
 
 



  
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>